{% extends "base1.html" %}
{% load staticfiles %}
{% block content %}

<!-- Home Section -->

<section id="home" class="main-about parallax-section">
     <div class="overlay"></div>
     <div class="container">
          <div class="row">

               <div class="col-md-12 col-sm-12">
                    <h1>About Us</h1>
               </div>

          </div>
     </div>
</section>

<!-- About Section -->

<section id="about">
     <div class="container">
          <div class="row">

               <div class="col-md-offset-1 col-md-10 col-sm-12" style="background-color:black;">
                    <div class="col-md-4 col-sm-4">
                         <h2 style="color:green;">Aditya</h2>
                         <p>passionate about research and solving real-world problems.</p>
                         <p> His research interests include Reinforcement Learning, Deep Learning, Computer Vision, Robotics and Spatial Informatics.</p>
                         <p>Contact:<strong>95737 17759</strong></p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2 style="color:green;">Pavan</h2>
                         <p>skilled at C, C++, Machine Learning. He is familiar with c#, AOSP .Net, java, python, HTML, CSS and is interested in competitive programming, problem solving.</p>
                         <p>Contact:<strong>7680830856</strong></p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <h2 style="color:green;">Nagababu</h2>
                         <p>skilled at C, C++, Java, python,hadoop,spark,machine Learning and a data science enthusiast</p>
                         <p>Interested in Natural language processing and image processing</p>
                         <p>Contact:<strong>8686643081</strong></p>
                    </div>

                    <div class="col-md-4 col-sm-4" style="margin-left:-310px;">
                         <h3 style="color:green;">Satya sai</h3>
                         <p>familiar with C, C++, machine learning, java, octave, data structures and is interested in coding, problem solving                       </p>
                         <p>Contact:<strong>9573546915</strong></p>
                    </div>

              <!--      <div class="col-md-6 col-sm-6">
                         <img src="images/back1.jpg" class="img-responsive" alt="About Image">
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-4 col-sm-4">
                         <img src="images/about-image1.jpg" class="img-responsive" alt="Blog Image">
                         <h3>Section One</h3>
                         <p>Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non dapibus orci.</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <img src="images/about-image2.jpg" class="img-responsive" alt="Blog Image">
                         <h3>Section Two</h3>
                         <p>Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non dapibus orci.</p>
                    </div>

                    <div class="col-md-4 col-sm-4">
                         <img src="images/about-image3.jpg" class="img-responsive" alt="Blog Image">
                         <h3>Section Three</h3>
                         <p>Pellentesque lobortis velit mi, sed volutpat enim facilisis at. Maecenas quis pulvinar neque, non dapibus orci.</p>
                    </div> -->

                    <h3 style="color:green;">Our Aim</h3>
                    <p>Our aim to reduce the time the teacher spends in taking the attendence everytime,so as to use it effectively.</p>
               </div>

          </div>
     </div>
</section>

{% endblock %}
