{% extends 'base.html' %}
{% block content %}

<html>

  <style>
    table
    {
      width:0%;
    }
    table, th, td
    {
      border: 1px solid white;
      border-collapse: collapse;
    }
    th, td
    {
      padding: 15px;
      text-align: left;
    }
    table#t01 tr:nth-child(even)
    {
      background-color: #eee;
    }
    table#t01 tr:nth-child(odd)
    {
     background-color: #fff;
    }
    table#t01 th
    {
      background-color: black;
      color: white;
    }
  </style>

  <p>
    </br>
    <h1>Attendance Details of all students of class is: </h1>
    <br>
  </p>

  </br>
  </br>


<center>
  <p>
    </p>
      </br>
        <table align="center">
            <tr>
                {% for user in users %}
              <tr>
                {% for i in user %}
                <td><h2>{{i}}</h2></td>
                {% endfor %}
              </tr>
      {% endfor %}
  </h2>
      </table>
</center>
</html>

{% endblock %}
