{% extends 'base.html' %}
{% block content %}
<html>

  <p>
    </br>
    <br>
  </p>

  <p>
    <h2>Enter Student ID: </h2>
  </p>

  </br>

  <body>

    <form action='/GetDailyAttendance/'  method='POST'>{% csrf_token %}
      <input id="One" type="text" name="classID" required>
      </br>
      <input id="Two" type="date" name="Date" required>
    </br>
      <input type='submit' value='submit' onclick="window.location.href='/allStudents/'" />
    </form>


  </body>

</html>
{% endblock %}
