{% extends 'base.html' %}

{% block content %}
<html>

  <style>
    table
    {
      width:100%;
    }
    table, th, td
    {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td
    {
      padding: 15px;
      text-align: left;
    }
    table#t01 tr:nth-child(even)
    {
      background-color: #eee;
    }
    table#t01 tr:nth-child(odd)
    {
     background-color: #fff;
    }
    table#t01 th
    {
      background-color: black;
      color: white;
    }
  </style>

  <p>
    </br>
    </br>
  </p>

  <p>
    <h1>Attendance Details of <strong>{{user}}</strong> is: </h1>
  </p>

  </br>
  </br>

  <table width=100%>
    <tr>
      {% for user in users %}
          <tr>
            <td><h2>{{user.0}}</h2></td>
            <td><h2>{{user.1}}</h2></td>
            <td><h2>{{user.2}}</h2></td>
            <td><h2>{{user.3}}</h2></td>
            <td><h2>{{user.4}}</h2></td>
            <td><h2>{{user.5}}</h2></td>
            <td><h2>{{user.6}}</h2></td>
            <td><h2>{{user.7}}</h2></td>
          </tr>

      {% endfor %}
    </h2>
  </table>

</html>
{% endblock %}
